.gocache
bin/
tests/
internal_testing/
dev_testing/
.terraform/
**/.terraform/
terraform.tfstate
terraform.tfstate.backup
**/terraform.tfstate
**/terraform.tfstate.backup
*.tfplan
*.log
.DS_Store
tmp/
dist/
coverage.out
.idea/
.env
/terraform-provider-openwebui
